// Fonts :
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	font-family: 'Poppins', sans-serif;
}

path,
svg,
i {
	pointer-events: none;
}

//=> Colors Section :
.colors {
	min-height: 80vh;
	display: flex;
	color: rgb(212, 212, 212);

	.color {
		min-height: 80vh;
		position: relative;
		overflow: hidden;

		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		.controls {
			display: flex;
			flex-direction: column;

			.adjust-Btn,
			.lock-Btn {
				font-size: 1.5rem;
				margin: 2rem 0rem;

				background: none;
				border: none;

				cursor: pointer;

				transition: all 0.3s ease-in-out;
				&:hover {
					transform: scale(1.2);
				}
			}
		}

		h2 {
			font-family: 'Poppins', sans-serif;
			font-size: 2rem;
			font-weight: 600;

			cursor: pointer;
		}

		.adjustment-sliders {
			width: 80%;
			position: absolute;

			background: rgba(255, 255, 255, 0.85);
			bottom: 0%;
			padding: 1rem;

			display: flex;
			flex-direction: column;
			opacity: 0;

			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;

			transform: translateY(100px);
			transition: all 0.3s ease-in-out;

			button {
				position: absolute;
				top: 0px;
				right: 3px;

				font-size: 1.5rem;
				color: rgb(24, 24, 24);

				border: none;
				background: none;

				transition: all 0.3s ease;

				&:hover {
					color: rgb(241, 116, 100);
				}
			}

			span {
				font-size: 0.9rem;
				font-family: 'Poppins', sans-serif;
				color: rgb(24, 24, 24);
			}

			input[type='range'] {
				appearance: none;
				position: relative;

				width: 100%;
				margin: 1rem 0;

				border-radius: 1rem;
				cursor: pointer;
			}
		}

		.adjustment-sliders.active {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.panel {
	min-height: 20vh;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	button {
		width: 4.5rem;
		height: 4.5rem;

		margin: 1rem;
		padding: 1rem 1.5rem;

		font-size: 1.2rem;
		color: #fff;
		background: rgb(0, 33, 36);
		border: none;
		border-radius: 50%;

		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background: rgb(166, 253, 205);
			color: #000;
			border-radius: 0.5rem;

			.fa-sync {
				transform: rotate(90deg);
				transition: transform 0.5s ease-in-out;
			}
		}
	}

	p {
		font-size: 1.2rem;
		font-family: 'Poppins', sans-serif;
	}

	.library-panel,
	.generate-panel,
	.save-panel {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

//=> Popup Section:

.copy-container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0%;
	left: 0%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	transition: all 0.3s ease-in-out;

	.copy-popup {
		min-width: 150px;
		min-height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-evenly;

		background: #fff;
		color: #000000;

		border-radius: 2rem;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;

		transform: translateY(-2rem) scale(1);
		transition: transform 0.3s ease;

		h4 {
			font-size: 1.2rem;
			padding-bottom: 0.5rem;
		}
	}
}

.save-container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0%;
	left: 0%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	transition: all 0.3s ease-in-out;

	.save-popup {
		min-width: 25rem;
		min-height: 10vh;

		display: flex;
		align-items: center;
		justify-content: space-evenly;

		background: rgba(248, 254, 255, 0.925);
		color: #000000;

		border-radius: 1rem;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;

		transform: translateY(-2rem) scale(1);
		transition: transform 0.3s ease;

		.saveInputAndBtn {
			width: 20rem;
			height: 2rem;

			background: #000;
			border-radius: 15px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			input.save-name {
				width: 18rem;
				border: none;
				outline: none;
				background: none;
				color: #fff;
				// border-radius: 15px;

				text-align: left;
				padding-left: 1rem;
				font-size: 1.1rem;
				font-family: 'Poppins', sans-serif;
			}

			.submit-save {
				margin: 0;
				margin-right: 3px;
				padding: 0;

				background: none;
				border: none;
				border-radius: 50%;

				font-size: 1.5rem;
				color: rgb(78, 140, 255);
				text-align: center;

				transition: all 0.3s ease;
				&:hover {
					color: rgb(129, 255, 129);
				}
			}

			h4 {
				font-size: 1.2rem;
				padding-bottom: 0.5rem;
			}
		}

		.close-savePopup-Btn,
		.close-libraryPopup-Btn {
			position: absolute;
			top: 0px;
			right: 3px;

			font-size: 1.2rem;
			color: rgb(24, 24, 24);

			border: none;
			background: none;

			transition: all 0.3s ease;

			&:hover {
				color: rgb(241, 116, 100);
			}
		}
	}
}

.library-container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0%;
	left: 0%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	transition: all 0.3s ease-in-out;

	.library-popup {
		min-width: 30rem;
		max-height: 30vh;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;

		overflow-y: scroll;
		padding: 1rem;
		padding-left: 0;

		background: #fff;
		color: #000000;

		border-radius: 1rem;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;

		transform: translateY(-2rem) scale(0.1);
		transition: transform 0.3s ease;

		.close-libraryPopup-Btn {
			position: absolute;
			top: 3px;
			right: 0px;

			font-size: 1.2rem;
			color: rgb(24, 24, 24);

			border: none;
			background: none;

			transition: all 0.3s ease-in-out alternate;

			&:hover {
				color: rgb(241, 116, 100);
			}
		}

		.custom-palette {
			width: 100%;

			padding: 1rem;

			display: flex;
			align-items: center;
			justify-content: space-evenly;

			h4 {
				flex: 1;
				text-align: center;
				margin: 0.5rem;
				margin-left: 2rem;
				text-transform: uppercase;
			}

			.colors-preview {
				display: flex;
				flex: 1;

				margin-left: 2rem;

				div {
					height: 3rem;
					width: 3rem;
					margin: 0.5px;

					border-radius: 50%;
				}
			}

			.palette-picker-Btn {
				width: 3rem;
				height: 3rem;

				border: none;
				border-radius: 50%;
				cursor: pointer;

				margin-left: 1.5rem;

				background: #000;
				color: #fff;

				font-family: 'Poppins', sans-serif;
				font-size: 1rem;

				transition: all 0.3s ease-in-out;

				&:hover {
					background: rgb(34, 235, 151);
					color: #000;

					transform: scale(0.8);
				}
			}
			.palette-delete-Btn {
				width: 3rem;
				height: 3rem;

				border: none;
				border-radius: 50%;
				cursor: pointer;

				margin-left: 0.2rem;

				background: #000;
				color: #fff;

				font-family: 'Poppins', sans-serif;
				font-size: 1rem;

				transition: all 0.3s ease-in-out;

				&:hover {
					background: rgb(255, 105, 105);
					color: #000;

					transform: scale(0.8);
				}
			}
		}
	}
}

.copy-container.active,
.save-container.active,
.library-container.active {
	opacity: 1;
	pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
	transform: translateY(0rem) scale(1.2);
}

// Customize Scrollbar:
::-webkit-scrollbar {
	width: 0.5em;
	height: 2em;
}

::-webkit-scrollbar-track {
	border-radius: 100vw;
	background: rgb(54, 54, 54);
	margin-block: 1.8em;
	margin-inline: 1em;
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 109, 24);
	border-radius: 100vw;
}
