// Fonts :
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	font-family: 'Poppins', sans-serif;
}

path,
svg,
i {
	pointer-events: none;
}

//=> Colors Section :
.colors {
	min-height: 80vh;
	display: flex;
	color: rgb(212, 212, 212);

	.color {
		min-height: 80vh;
		position: relative;
		overflow: hidden;

		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

		.controls {
			display: flex;
			flex-direction: column;

			.adjust-Btn,
			.lock-Btn {
				font-size: 1.5rem;
				margin: 2rem 0rem;

				background: none;
				border: none;

				cursor: pointer;

				transition: all 0.3s ease;
				&:hover {
					transform: scale(1.2);
				}
			}
		}

		h2 {
			font-family: 'Poppins', sans-serif;
			font-size: 2rem;
			font-weight: 600;

			cursor: pointer;
		}

		.adjustment-sliders {
			width: 80%;
			position: absolute;

			background: rgb(255, 255, 255);
			bottom: 0%;
			padding: 1rem;

			display: flex;
			flex-direction: column;
			opacity: 0;

			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;

			transform: translateY(100px);
			transition: all 0.5s ease-in-out;

			button {
				position: absolute;
				top: 5px;
				right: 5px;

				font-size: 1.2rem;
				color: rgb(24, 24, 24);

				border: none;
				background: none;

				transition: all 0.5s ease;

				&:hover {
					color: rgb(241, 116, 100);
				}
			}

			span {
				font-size: 0.9rem;
				font-family: 'Poppins', sans-serif;
				color: rgb(24, 24, 24);
			}

			input[type='range'] {
				appearance: none;
				position: relative;

				width: 100%;
				margin: 1rem 0;

				border-radius: 1rem;
				cursor: pointer;
			}
		}

		.adjustment-sliders.active {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.panel {
	min-height: 20vh;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	button {
		margin: 1rem;
		padding: 1rem 1.5rem;

		font-size: 1.2rem;
		color: #fff;
		background: rgb(0, 33, 36);
		border: none;
		border-radius: 0.5rem;

		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background: rgb(166, 253, 205);
			color: #000;
			border-radius: 0.3rem;
		}
	}

	p {
		font-size: 1.2rem;
		font-family: 'Poppins', sans-serif;
	}

	.library-panel,
	.generate-panel,
	.save-panel {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

//=> Popup Section:

.copy-container {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0%;
	left: 0%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	transition: all 0.5s ease-in-out;

	.copy-popup {
		min-width: 150px;
		min-height: 50px;

		display: flex;
		align-items: center;
		justify-content: space-evenly;

		background: #fff;
		color: #000000;

		border-radius: 2rem;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;

		transform: translateY(-2rem) scale(1);
		transition: transform 0.5s ease;

		h4 {
			font-size: 1.2rem;
			padding-bottom: 0.5rem;
		}
	}
}

.copy-container.active {
	opacity: 1;
	pointer-events: all;
}

.copy-popup.active {
	transform: translateY(0rem) scale(1.2);
}
